{
  "extends": [
    "plugin:import/recommended",
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node",
    "plugin:react-hooks/recommended",
    "plugin:tailwindcss/recommended"
  ],
  "plugins": ["import", "tailwindcss"],
  "rules": {
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "groups": [["builtin", "external"], "internal", ["parent", "sibling"], "type"],
        "newlines-between": "always",
        "pathGroups": [
          {
            "group": "external",
            "pattern": "react",
            "position": "before"
          },
          {
            "group": "internal",
            "pattern": "~/**",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react", "~/**"]
      }
    ],
    "tailwindcss/classnames-order": ["error"]
  }
}
